.auth-container {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

.auth-container h1 {
	margin-bottom: 20px;
	
}

form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 15px;
}

form label {
	margin-bottom: 5px;
	font-weight: bold;
}

form input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}

form button {
	padding: 10px;
	background-color: #3B82F6;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background-color: #2563EB;
}